<ion-view view-title="Enlaces Importantes">
    <ion-content>
        <div class="item item-divider"> Enlaces importantes </div>
        <div style="text-align: center; margin-top: 20px;">
            <img src="img/udea.png">
        </div>
        <div style=" margin-top: 20px; margin-left:30px;">
            <li>
                <h4>Un camino a la investigación en ingeniería
                     <a href="http://www.aidia-e.com/researchhints/guiainvestigacion/">Ver</a>
                </h4>
            </li>
            <li>
                <h4>Guía de elaboración de un artículo – Identificación de Problema
                <a href="http://www.aidia-e.com/researchhints/guiaelaboracionarticulo-identificacionproblema/">Ver</a>
                </h4>
            </li>
            <li>
                <h4>Guía de elaboración de un artículo – Estado del arte
                <a href="http://www.aidia-e.com/researchhints/guiaelaboracionarticulo-estadodelarte/">Ver</a>
                </h4>
            </li>
            <li>
                <h4>Guía de elaboración de una propuesta de proyecto
                <a href="http://www.aidia-e.com/researchhints/guiaelaboracionpropuesta/">Ver</a>
                </h4>
            </li>
            <li>
                <h4>Guía de elaboración de una presentación oral
                <a href="http://www.aidia-e.com/researchhints/guiaelaboracionpresentacionesorales/">Ver</a>
                </h4>
            </li>
            <li>
                <h4>Metodología de la investigación
                <a href="https://explorable.com/es/metodologia-de-la-investigacion">Ver</a>
                </h4>
            </li>
            <li>
                <h4>Colciencias
                <a href="http://www.colciencias.gov.co/convinvestigacion">Ver</a>
                </h4>
            </li>
            <li>
                <h4>Bases de datos bibliográficas UdeA
                <a href="http://www.udea.edu.co/wps/portal/udea/web/inicio/sistema-bibliotecas/buscas-informacion/bases-datos-bibliograficas">Ver</a>
                </h4>
            </li>

        </div>
    </ion-content>
</ion-view>
