<ion-view view-title="Estado del Arte">
    <ion-nav-buttons side="right">
        <button class="button button-icon button-clear ion-compose" ng-click="limpiarObjetivo()">
        </button>
    </ion-nav-buttons>
    <ion-content>
        <div class="list" ng-init="visualizarEstadoArte()">
            <ion-list show-reorder="data.showReorder">
                <ion-item ng-repeat="pub in publicaciones" item="publicaciones">
                        <div class="item item-divider">Titulo</div>
                        <label class="item item-input">
                            {{pub.titulo}}
                        </label>
                        <div class="item item-divider">Descripcion</div>
                        <label class="item item-input">
                            {{pub.descripcion}}
                        </label>
                        <div class="item item-divider">URL</div>
                        <label class="item item-input">
                            {{pub.link}}
                        </label>
                   
                </ion-item>
            </ion-list>
        </div>
        <script id="newState.html" type="text/ng-template">
            <ion-modal-view>
                <ion-header-bar class="bar bar-header bar-positive">
                    <h1 class="title">Nuevo Documento</h1>
                    <button class="button button-clear button-primary" ng-click="newState.hide()">Cancelar</button>
                </ion-header-bar>
                <ion-content class="padding">
                    <div class="list">
                        <div class="item item-divider">Titulo</div>
                        <label class="item item-input">
                            <input ng-model="estadoA.titulo" type="text">
                        </label>
                        <div class="item item-divider">Descripción</div>
                        <label class="item item-input">
                            <input ng-model="estadoA.descripcion" type="text">
                        </label>
                        <div class="item item-divider">URL</div>
                        <label class="item item-input">
                            <input ng-model="estadoA.url" type="text">
                        </label>
                    </div>
                    <div class="button-bar">
                        <a class="button button-stable icon ion-backspace-outline" ng-click="newState.hide()">  Cancelar</a>
                        <a class="button button-positive icon ion-ios-compose-outline" ng-click="anadirEstadoArte()">  Crear</a>
                    </div>
                </ion-content>
            </ion-modal-view>
        </script>
    </ion-content>
</ion-view>
