<ion-view title="Login" hide-back-button="true" enable-menu-with-back-views="false">
    <ion-content>
        <div style="text-align: center; margin-top: 20px;">
            <img src="img/ionic.png" />
        </div>
        <div class="list" style="margin-top: 20px;">
            <label class="item item-input item-stacked-label" style="text-align: center;">
                <button class="button button-assertive" ng-click= "irModificar()">Modificar</button>
            </label>
            <label class="item item-input item-stacked-label" style="text-align: center;">
                <button class="button button-assertive" href="#/app/verPerfil">Ver perfil</a>
                </button>
            </label>
            <label class="item item-input item-stacked-label" style="text-align: center;">
                <button class="button button-assertive" ng-click= "nivel()">Ir al mapa</a>
                </button>
            </label>
        </div>
    </ion-content>
</ion-view>
