<ion-view title="Modificar datos">
    <ion-content onLoad= "mostrarDatos()" >
        <div style="text-align: center; margin-top: 20px;">
            <img src="img/ionic.png" />
        </div>
        <div class="list" style="margin-top: 20px;" ng-init="mostrarDatos()">
            <label class="item item-input item-stacked-label">
                <span >E-mail</span>
                <input type="text" ng-model="user.email">
            </label>
         
            <label class="item item-input item-stacked-label" style="text-align: center;">
                <button class="button button-assertive" ng-click="showPopup()">Modificar E-Mail</button>
            </label>
        </div>
        <div class="item item-divider"></div>
        <div class="list" style="margin-top: 20px;">
            <label class="item item-input item-stacked-label">
                <span class="input-label">Contraseña actual</span>
                <input type="password" ng-model="userCont.contrasenaAct">
            </label>
            <label class="item item-input item-stacked-label">
                <span class="input-label">Nueva contraseña</span>
                <input type="password" ng-model="userCont.contrasenaNueva">
            </label>
            <label class="item item-input item-stacked-label">
                <span class="input-label">Repita su nueva contraseña</span>
                <input type="password" ng-model="userCont.contrasenaRep">
            </label>
            <label class="item item-input item-stacked-label" style="text-align: center;">
                <button class="button button-assertive" ng-click="modificarContrasena()">Cambiar Contraseña</button>
            </label>
        </div>
    </ion-content>
</ion-view>
