
<ion-view title="{{datosUsuario.nombre}} {{datosUsuario.apellido}}">
    <ion-content>

        <div style="text-align: center; margin-top: 20px;">
            <img ng-src="{{datosUsuario.foto}}">
        </div>

        <browse-file></browse-file> <!--Directive 1-->
<div style="text-align: center; margin-top: 20px;">
        <a class="item item-thumbnail-right" href="#">
            <h1>{{datosUsuario.nombre}}  {{datosUsuario.apellido}}</h1>
            <p> {{datosUsuario.email}}</p>
        </a>
    </div>
        <div class="item item-divider"> Información general</div>
        <div class="list" >
            <a class="item item-avatar" href="#">
                <i class="icon ion-flag"></i>
                <h2>Puntos: </h2> <h1>{{datosUsuario.puntos}}</h1>
                </a>
                <a class="item item-avatar" href="#">
                <i class="icon ion-ribbon-b"></i>
                <h2>Nivel: </h2> <h1>{{datosUsuario.nivel}}</h1>
                </a>
                <a class="item item-avatar" href="#">
                <i class="icon ion-document"></i>
                <h2>Investigación en curso: </h2> <h1>{{datosUsuario.nombrePreguntaActual}}</h1>
                </a>
                <div class="item item-divider">
                    Investigaciones Realizadas
                </div>
                <ion-list show-reorder="data.showReorder">
                    <ion-item ng-repeat="item in items" item="item">
                        <a class="item item-avatar item-checkbox">
                            <label class="rank" style="margin-left: 30px;">
                                <h2> {{ item.titulo}}</h2>
                            </label>
                        </a>
                    </ion-item>
                </ion-list>
        </div>
    </ion-content>
</ion-view>
