<ion-view >
    <ionContent header-shrink scroll-event-interval="5">
        <div style="height: 45px;"></div>
        <ion-scroll zooming="true" direction="xy" style="height: 100%; width: 100%;" has-bouncing="false">
            <div style="width: 1280px; height: 720px; background: url('http://orig00.deviantart.net/0f8b/f/2012/132/6/3/super_mario_world_3d_by_webcat-d4zgou3.jpg')"></div>
            <!--<img ng-lick="show('Soy un reto!')" src="img/reto.png" class="posicion"></img>-->
            <button class="reto3 button button-icon" ng-click="reto()"><img src="img/reto.png"></img>
            </button>
            <button class="preguntaPos button button-icon" ng-click="irTrabajoFinal()"><img src="img/pregunta.png"></img>
            </button>
        </ion-scroll>
        <ionContent>
</ion-view> 