.item-icon-left ion-spinner {
    float: left;
    margin-left: -3.2em;
    margin-right: 1em;
    margin-top: -0.2em;
}

.spinner svg {
    width: 28px;
    height: 28px;
}

.reto3 {
    position: absolute;
    top: 780px;
    left: 90px;
}


.articuloPos {
    position: absolute;
    top: 350px;
    left: 930px;
}
.objetivoPos {
    position: absolute;
    top: 180px;
    left: 1600px;
}

.preguntaPos {
    position: absolute;
    top: 250px;
    left: 360px;
}


.rank {
    display: block;
}

.item-avatar i:first-child, 
.item-avatar .item-img {
    position: absolute;
    top: 25px;
    left: 15px;
    font-size: 50px;
    max-width: 40px;
    max-height: 40px;
    width: 100%;
    border-radius: 4px;
}

.item-avatar n:first-child,
.item-avatar .item-img {
    position: absolute;
    top: 40px;
    left: 10px;
    font-size: 40px;
    max-width: 40px;
    max-height: 40px;
    width: 100%;
    border-radius: 4px;
}

input[type=file] {
    height: 0;
    overflow: auto;
}
